@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Spartan", sans-serif;
  /* font-family: "futura-pt",sans-serif; */
}

html {
  scroll-behavior: smooth;
}

/*logo*/
#header img{ 
  width: 120px;
  float: left;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 60px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}

/* Header Start, thanh cong cu */
#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #d3c5b3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #f5f1de, #c0a98c);
}


#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li{
  list-style: none;
  padding: 0 25px;
  position: relative;
}
#navbar li a{
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
  background-color: rgb(5, 115, 5);
  color: #fff;
  padding: 12px 14px;
  border-radius: 20px;
  font-size: 17px;
}
/* #navbar li a.active::after,
#navbar li a:hover::after{ 
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute; 
  bottom: -4px;
  left: 20px;
} */

/* view account */
.dropdown {
  position: relative;
  display: inline-block;
  padding-right: 20px;
  transition: all 1s linear;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
  width: 180px;
  right: 2px;
  overflow: hidden;
  top: 20px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  padding: 16px;
  text-decoration: none;
  display: block;
  color: #000;
  text-align: center;
  transition: all 0.2s linear;
}

.dropdown-content a:hover {
  background-color: rgb(186, 170, 120);
  border-radius: 10px;
  transform: scale(1.2);
  color: white;
  font-weight: bold;
}

/****** Home Page ******/

#hero{
  background-image: url("img/logo8.webp");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 0 right 80%;
  padding: 0 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#hero h3{
  padding-bottom: 15px;
  font-size: 20px;
}
#hero h1{
  padding: 10px 0 10px 0;
  color: rgb(5, 115, 5);
  font-size: 70px;
}
#hero p{
  color: rgb(245, 102, 46);
  font-weight: bold;
  font-size: 20px;
}
#hero button{
  background-image: url("img/button.png");
  background-color: transparent;
  color: rgb(5, 115, 5);
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  font-weight: 700; 
  font-size: 20px; 
  
}
#hero .shopNow:hover{
  color: orangered;
}


#feature{
  display: flex;
  align-items:center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .fe-box{
  width: 180px;
  text-align : center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0,0,0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 5px; 
  margin-bottom: 10px;
}
#feature .fe-box:hover{
  box-shadow:10px 10px 54px rgba(70, 62, 211,0.1);
}
#feature .fe-box img{
  width: 100%;
  margin-bottom: 10px;
}
#feature .fe-box h6{
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: rgb(0, 109, 0);
  background-color: #f1b49f;
}
#feature .fe-box:nth-child(2) h6{
  background-color: #b1de97;
}
#feature .fe-box:nth-child(3) h6{
  background-color: #abd3e4;
}
#feature .fe-box:nth-child(4) h6{
  background-color: #a0aae1;
}
#feature .fe-box:nth-child(5) h6{
  background-color: #e6b7e6;
}
#feature .fe-box:nth-child(6) h6{
  background-color: #f5cca2;
}

#product12{
  text-align: center;
  /* display: flex; */
}
#product12 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  /* flex-wrap: wrap;  */
  
}
#product12 .pro{
  width: 50%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #c6eecc;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px ;
  transition: 0.2s ease;
  position: relative;
}
#product12 h2{
  padding-top: 30px;
}
#product12 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
}
#product12 .pro img{
  width: 100%;
  border-radius: 20px;
}
#product12 .pro .des{
  text-align: start;
  padding: 10px 0;
}
#product12 .pro .des span{
  font-size: 12px;
  color: #6d6b6b;
}
#product12 .pro .des h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#product12 .pro .des i{
  font-size: 12px;
  color: rgb(243, 181, 25)
}
#product12 .pro .des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: rgb(5, 115, 5);
}
#product12 .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: rgb(5, 115, 5);
  border: 1px soild #cce7d0;
  position: 20px;
  right: 10px;
}
#product12 .xemThem button{
  font-size: 18px;
  padding: 10px;
  border-radius: 7px;
  margin: 12px;
  border: 3px solid #000000;
  border-radius: 12px 0;
  color: #000000;
  font-weight: bold;
}
#product12 .xemThem a:hover button{
  text-decoration: none;
  background-color: rgb(247, 144, 19);
  border-color: rgb(247, 144, 19);
  color: #fff;
}

#product1 .locTim{
  margin: 15px;
  border: 2px solid green;
  width: 30%;
}




#product1{
  text-align: center;
  display: flex;
}
#product1 .pro-container{
  display: flex;
  /* justify-content: space-between; */
  padding-top: 20px;
  flex-wrap: wrap; 
  width: 80%;
  /* thêm */
  /* transform: scale(1.2) translateZ(0);
  background: 200%; */
}
/* thêm */
/* #product1 .pro-container {
  transform: scale(1);
}
#product1 .pro-container:hover > .pro:not(:hover){
  filter: brightness(1) saturate(0) contrast(1.2) blur(20px);
} */

/* #product1 .pro-container .pro>img:hover{
  transform: scale(1.5);
} */

#product1 .pro{
  width: 22%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #c6eecc;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px ;
  transition: 0.2s ease;
  position: relative;
}
#product1 h2{
  padding-top: 30px;
}
#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
}
#product1 .pro img{
  width: 100%;
  border-radius: 20px;
}
#product1 .pro .des{
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .des span{
  font-size: 12px;
  color: #6d6b6b;
}
#product1 .pro .des h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#product1 .pro .des i{
  font-size: 12px;
  color: rgb(243, 181, 25)
}
#product1 .pro .des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: rgb(5, 115, 5);
}
#product1 .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: rgb(5, 115, 5);
  border: 1px soild #cce7d0;
  position: 20px;
  right: 10px;
}
#product1 .xemThem button{
  font-size: 18px;
  padding: 10px;
  border-radius: 7px;
  margin: 12px;
  border: 3px solid #000000;
  border-radius: 12px 0;
  color: #000000;
  font-weight: bold;
}
#product1 .xemThem a:hover button{
  text-decoration: none;
  background-color: rgb(247, 144, 19);
  border-color: rgb(247, 144, 19);
  color: #fff;
}

/* Lọc tìm kiếm */
#product1 .locTim{
  margin: 15px;
  width: 20%;
  margin-right: 25px;
  margin-top: 35px;
  border: none;
  text-align: left;
  margin-left: 30px;
}
#product1 .locTim .locSize {
  background-color: rgb(246, 246, 246);
  padding: 18px;
  border-radius: 20px;
  border: 1px solid lightgray;
}
#product1 .locTim .locPrice {
  background-color: rgb(246, 246, 246);
  padding: 18px;
  margin-top: 20px;
  border-radius: 20px;
  border: 1px solid lightgray;
}

#product1 .locTim .tenLocTim{
  text-transform: uppercase;
  margin-bottom: 10px;
  border-bottom: 2px solid lightgray;
  font-size: 15px;
  padding: 15px;
}
#product1 .locTim form{
  margin-top: 18px;
}
#product1 .locTim form label{
  padding-left: 10px;
  font-size: 13px;
}
#product1 .locTim .locSize form label>span{
  font-weight: 550;
}
#product1 .locTim form>div{
  margin-bottom: 8px;
  padding: 10px;
}
#product1 .locTim form div:hover{
  background-color: lightgray;
}
#product1 .locTim input{
  transform: scale(2); 
}


#banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-image: url(img/banner/b2.jpg); */
  background-image:  linear-gradient(45deg, #f1bed1, #f3db86);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#banner h4{
  color: #000000;
  font-size: 20px;
  padding-bottom: 20px;
}
#banner h2{
  color: #000000;
  font-size: 35px;
  padding: 10px 0;
}
#banner h2 span{
  color: rgb(203, 26, 26);
}


#sm-banner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
}
#sm-banner .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
  padding-left: 160px;
}
#sm-banner .banner-box2{
  padding-right: 160px;
}
#sm-banner img{
  width: 460px;
  border: 8px solid orange;
  border-top-color: greenyellow;
  border-right-color: lightblue;
  border-bottom-color: lightpink;
}
#sm-banner .banner-box h3{
  padding-top: 15px;
  padding-left: 130px;
  font-size: 25px;
}
#sm-banner .banner-box2 h3{
  padding-left: 110px;
}



#sm-banner span{
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}
#sm-banner .banner-box:hover button{
  background: rgb(5, 115, 5);
  border: 1px solid rgb(5, 115, 5);
}


#banner3{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 ;
}
#banner3 .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("img/banner/b7.jpg");
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
  margin-bottom: 20px;
}
#banner3 .banner-box2{
  background-image: url("img/banner/b4.jpg");
}
#banner3 .banner-box3{
  background-image: url("img/banner/b18.jpg");
}
#banner3 h2{
  color: #fff;
  font-size: 900;
  font-size: 22px;
}
#banner3 h3{
  color: #ec544e;
  font-weight: 800;
  font-size: 15px;
}


#newsletter{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("img/banner/b14.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}
#newsletter h4{
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}
#newsletter p{
  font-size: 14px;
  font-weight: 700;
  color: #818ea0;
}
#newsletter p span{
  color: #ffbd27;
}
#newsletter .form{
  display: flex;
  width: 40%;
}
#newsletter input{
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter button{
  background-color: rgb(5, 115, 5);
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


footer {
  display: flex;;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer a{
  text-decoration: none;
  font-size: 14px;
  color: #222;
  margin-bottom: 10px;
}
footer h4{
  font-size: 18px;
  padding-bottom: 20px;
}
footer p{
  font-size: 14px;
  margin: 0 0 8px 0;
}
footer .follow i{
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
  font-size: 25px;
}
footer .install .row img{
  border: 1px solid rgb(5, 115, 5);
  border-radius: 6px;
  margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover{
  color: rgb(5, 115, 5);
}


/****** SHOP PAGE ******/
/* shop */
#page-header{
  background-image: url("img/banner/b1.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding-bottom: 14px;
}

#page-header h2, #page-header p{
  color: white;
}

#pagination{
  text-align: center;
}

#pagination a {
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}

#pagination a i{
  font-size: 16px;
  font-weight: 600;
}

/* sp rieng */
#prodetails{
  display: flex;
  margin-top: 20px;
}

#prodetails .single-pro-image{
  width: 40%;
  margin-right: 50px;
}

.small-img-group{
  display: flex;
  justify-content: space-between;
}

.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}
#prodetails .single-pro-details{
  width: 50%;
  padding-top: 30px;
}

#prodetails .single-pro-details h4{
  padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2{
  font-size: 26px;
}

#prodetails .single-pro-details select{
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#prodetails .single-pro-details input{
  width: 50px;
  height: 47px;
  padding-left: 16px;
  margin-right: 10px;
}

#prodetails .single-pro-details input:focus{
  outline: none;
}

#prodetails .single-pro-details button{
  background: #088178;
  color: white;
}

#prodetails .single-pro-details span{
  line-height: 25px;
}
#prodetails .small-img-col:hover{
  border: 2px solid green;
}
#prodetails .small-img-col:active{
  border: 2px solid orange;
}


/****** ABOUT PAGE ******/
#page-header .about-header{
  background-image: url("img/about/banner.png");
}
#about-head{
  display: flex;
  align-content:  center;
}
#about-head img{
  width: 50%;
}
#about-head div{
  padding: 70px 0 0 40px;
  text-align: justify;
}
#about-app{
  text-align: center;
}
#about-app .video{
  width: 70%;
  height: 100%;
  margin: 30px auto 0 auto;
}
#about-app .video video{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}


/****** CONTACT PAGE ******/
#contact-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contact-details .details{
  width: 45%;
}
#contact-details .details span,
#form-details form span{
  font-size: 14px;
}
#contact-details .details h2, 
#form-details form h2{
  font-size: 30px;
  line-height: 35px;
  padding: 20px 0;
}
#contact-details .details h3{
  font-size: 20px;
  padding-bottom: 15px;
  padding-left: 50px;
}
#contact-details .details li{
  list-style: none;
  display: flex;
  padding: 10px 0;
  padding-left: 50px;
}
#contact-details .details li i{
  font-size:  16px;
  padding-right: 22px;
}
#contact-details .details li p{
  margin: 0;
  font-size: 15px;
}
#contact-details .map{
  width:  55%;
  height: 400px;
}
#contact-details .map iframe{
  width: 100%;
  height: 100%;
}

#form-details{
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1;
}
#form-details form{
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#form-details form input, 
#form-details form textarea{
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid lightgray
}
#form-details form button{
  background-color: rgb(5, 115, 5);
  color: #fff; 
}
#form-details .people div{
  padding-bottom: 25px;
  display: flex;
  align-items: flex-start;
  margin-top: 50px;
}
#form-details .people div img{
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 15px;
}
#form-details .people div p{
  margin: 0;
  font-size: 15px;
  line-height: 25px;
}
#form-details .people div p span{
  display: flex;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}


/* account */

#profile h3{
  font-size: 30px;
  text-align: center;
  margin: 50px;
}

#profile .thongtin{
  margin-bottom: 50px;
}

#profile .thongtin table{
  margin-left: 400px;
}

#profile .thongtin table p{
  font-weight: bold;
  color: #000;
  font-size: 18px;
}

#profile .thongtin table td{
  width: 300px;
}

#profile .thongtin table input{
  padding: 15px;
  width: 400px;
  border-radius: 10px;
  padding-left: 25px;
}

 #profile .modal-content table{
  margin-left: 15px;
}

#profile .modal-content table p{
  font-size: 20px;
}

#profile .modal-content table input{
  padding: 15px;
  width: 350px;
  border-radius: 10px;
  padding-left: 25px;
  margin-left: 30px;
} 

#profile a{
  margin: 600px;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
  color: white;
  background: linear-gradient(to right, rgb(215, 215, 1), rgb(132, 177, 43));
  border-radius: 10px;
  font-weight: bold;
}

/* update in4 */

#profile .modal {
  display: none; /* Ban đầu, modal sẽ bị ẩn */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Màu nền và mờ */
}

#profile .modal-content {
  background-color: #fff;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  margin: 500px ; 
  margin-top: 150px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Hiệu ứng bóng đổ */
  border-radius: 15px;
}

#profile .modal-content h4{
  text-align: center;
  margin-bottom: 20px;
}

#profile .modal-content .closeModalBtn {
  margin-left: 200px;
  margin-top: 30px;
  padding: 10px 30px 10px 30px;
  color: white;
  background: linear-gradient(to right, rgb(215, 215, 1), rgb(132, 177, 43));
  border-radius: 10px;
  font-weight: bold;
  border: 0px;
}


/* * cart page* */
#cart table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table img{
  width: 70px;
}

#cart table td:nth-child(1)
{
  width: 100px;
  text-align: center;
}

#cart table td:nth-child(2)
{
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(3)
{
  width: 200px;
  text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5)
{
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(4) input{
  width: 70px;
  padding: 10px 5px 10px 15px;
}

#cart table thead{
  border: 1px solid lightblue;
  border-left: none;
  border-right: none;
}

#cart table thead td{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}

#cart table tbody tr td{
padding-top: 15px;
}

#cart table tbody td{
  font-size: 13px;
}


#cart-add{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#cart-add #coupon{
  width: 50%;
  margin-bottom: 30px;
}

#coupon h3, #subtotal h3{
  padding-bottom: 15px;
}

#coupon input{
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 2px solid gray; 
  border-radius: 10px;
}

#coupon button, #subtotal button{
  background-color: green;
  color: #fff;
  padding: 10px 20px;
}

#subtotal{
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 30px;
}

#subtotal table{
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
 
#subtotal table td{
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}

/* admin cart */
.choxn{
  display: flex;  
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 50px;
}

.choxn input{
  padding: 10px;
  border: 0;
  font-weight: bold;
  color: white;
  background-color: green;
  transition: all 0.2s linear;
  border-radius: 5px;
}

.choxn input:hover{
  background-color: orange;
  color: black;
}

/* comment */
#binhluan .bluan{
  margin-top: 20px;
  border-bottom: 1px solid gray;
  padding: 20px;
}

#binhluan .bluan .tennd{
  display: flex;
  align-items: center;
}

#binhluan .bluan .tennd a{
  text-decoration: none;
  color: black;
}

#binhluan .bluan .tennd .anhdd{
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
}

#binhluan .bluan .tennd img{
width: 40px;
}

#binhluan .bluan .ndbluan .star{ 
  color: rgb(243, 181, 25);
}

/* viet danh gia */

#danhgia .vietdanhgia .ndspham{
  display: flex;
  align-items: center;
}

#danhgia .vietdanhgia .ndspham img{
  width: 100px;
  margin-right: 100px;
}

#danhgia .nutxn .xndg{
  padding: 10px 5px;
  color: white;
  background-color: orange;
  border: 0;
}

/* admin page */
#adminPage .qly{
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}
#adminPage .qly .menu{
  display: flex;
  border-bottom: 1px solid rgb(234, 234, 234);
}
#adminPage .qly .menu>div{
  padding: 20px  0;
  font-size: 15px;
  border-bottom: 3px solid transparent;
  margin-left: 30px;
  font-weight: 600;
  transition: all 0.2s linear;
}
#adminPage .qly .menu>div:hover{
  border-color: orangered; 
  color: orangered;
  cursor: pointer;
}
#adminPage .qly .sanPham{
  margin-left: 30px;
  font-size: 14px;
}
#adminPage .qly .sanPham .them p{
  background-color: green;
  width: 80px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s linear;
  text-transform: uppercase;
  font-size: 13px;
}
#adminPage .qly .sanPham .them p:hover{
  background-color: rgb(182, 55, 8);
}
#adminPage .qly .sanPham table td{
  padding: 10px;
}
#adminPage .qly .sanPham table .thuocTinh{
  background-color: rgb(234, 234, 234);
}
#adminPage .qly .sanPham table .sua{
  margin: auto 0;
}
#adminPage .qly .sanPham table .sua>div{
  padding: 5px 30px 5px 0;
}
#adminPage .qly .sanPham table .sua .capnhat:hover{
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

#adminPage .qly .thongKe{
  margin: 30px;

}
#adminPage .qly .thongKe div{
  height: 150px;
  width: 250px;
  margin-right: 20px;
  background-color: green;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}
#adminPage .qly .thongKe div p{
  color: #fff;
  margin: 0;
  font-size: 12px;
}
#adminPage .qly .thongKe>div:last-child{
  background-color: rgb(164, 50, 9);
}
#adminPage .qly .thongKe div p span{
  font-size: 40px;
  font-weight: 600;
}
#adminPage .qly .thongKe div i{
  font-size: 100px;
}

#adminPage .qly .thongKe .donhang{
  background-color: orange;
}

.pro-sp table tr td img{
  width: 100px;
}

/* them hang */
/* CSS cho div mờ */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

/* CSS cho nội dung của div mờ */
.modal-content {
  background-color: #fff;
  width: 300px;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
}

/* CSS cho nút đóng */
.close {
  float: right;
  cursor: pointer;
}

/* CSS cho input và nút thêm */
input, button {
  display: block;
  margin: 10px 0;
}

.modal .modal-content input{
  padding: 5px 10px;
}

.modal .modal-content .themsp{
  display: flex;
  justify-content: center; 
}

.modal .modal-content .themsp button, .modal .modal-content .capnhatsp button{
  padding: 10px;
  font-weight: bold;
  color: white;
  background-color: green;
  border: 0;
  border-radius: 5px;
}

/* capnhatsp */

.modal .modal-content .capnhatsp{
  display: flex;
  justify-content: space-between; 
}